// $background-color: #3B8BCC
// $background-color-odd: skyblue
// $background-color-odd: #cceeff
$link-color: #3eacd0
// $background-color-odd: #e1f2f7
$background-color-odd: #c3e9f6
$background-color-even: white
$darker-color: #046484
$main-font: 'Abel' //'Raleway', 'Helvetica', 'Arial', sans-serif
$display-font: 'Unica One', monospace

body
  // background-color: $background-color
  // color: #3B8BCC;
  color: #333
  font-family: $main-font

header
  opacity: 0.9
  font-weight: 400
  font-size: 1.8rem
  position: fixed;
  z-index: 1050;

  span.brand-name
    font-weight: bold

    @media(min-width: 475px)
      font-size: 3rem
      margin-left: 40px

    span.my-name
      text-transform: uppercase
      font-family: $display-font

    span.nine-below-zero
      font-family: $main-font

  li
    // text-transform: uppercase

main
  h1
    font-size: 10rem

  h2
    font-size: 6rem

  h1, h2
    text-align: center
    text-transform: uppercase
    margin: 4rem
    font-family: $display-font

  a
    color: $link-color;
    -webkit-transition: color .1s ease-in-out
    -moz-transition: color .1s ease-in-out
    transition: color .1s ease-in-out

  a:hover, a:focus
    color: $darker-color
    text-decoration: none

  p
    font-size: 2rem
    margin: 4rem
    font-weight: 300

  .centered
    text-align: center

  section
    padding-top: 50px
    padding-bottom: 50px
    margin: 0 auto

    .container
      max-width: 860px

  section:first-child
    @media(min-width: 768px)
      padding-top: 200px

  section:last-child
    @media(min-width: 768px)
      padding-bottom: 150px

  section:nth-child(odd)
    background-color: $background-color-odd

  section:nth-child(even)
    background-color: $background-color-even

  img#headshot
    width: 200px
    border: 2px solid white;
    margin: 0 auto
    text-align: center

  .button-holder
    text-align: center;

    .glyphicon

      color: $background-color-odd
      font-size: 3rem

  section#projects
    img
      width: 100%
    p
      margin-top: 1.5rem

  .copyright
    font-size: 1.6rem
    margin-top: 7rem

@media (min-width: 768px)
  .navbar
    padding: 20px 0
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out
    transition: background .5s ease-in-out,padding .5s ease-in-out

  .top-nav-collapse
    padding: 0

