<!-- Projects Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ page.content | markdownify }}
      <div class="col-sm-6">
        <div class="projects-box">
          <a href="http://ninebelowzero.github.io/tablut/">
            <img src="img/projects/tablut-screenshot.png">
            <p>A Viking board game</p>
          </a>
        </div>
        <div class="projects-box">
          <a href="https://recipeeps.herokuapp.com/">
            <img src="img/projects/recipeeps-screenshot.png">
            <p>A recipe-sharing website</p>
          </a>
        </div>
      </div>
      <div class="col-sm-6">
        <a href="http://hanbury-street-rag.herokuapp.com/">
          <div class="projects-box">
            <img src="img/projects/hsr-screenshot.png">
            <p>A newspaper website</p>
          </div>
        </a>
        <div class="projects-box">
          <a href="http://zibble.herokuapp.com/">
            <img src="img/projects/zibble-screenshot.png">
            <p>A Chinese character learning app</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Projects End -->